<div class="controls">
  <button {{action "toggleEdit"}}>Toggle edit</button>
</div>

{{#if editing}}
  {{#mobiledoc-editor mobiledoc=(readonly mobiledoc) on-change=(action "updateMobiledoc") as |editor|}}
    {{mobiledoc-toolbar editor=editor}}
  {{/mobiledoc-editor}}
  {{else}}
  {{mobiledoc-dom-renderer mobiledoc=(readonly mobiledoc)}}
{{/if}}
