// Example app.scss
@import 'components/color';

// Custom color settings go here
$primary-color: color("red", "base");
$secondary-color: color("blue", "base");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

.__mobiledoc-card {
    width: 100%;
}

div.fixed-width-card {
    max-width: none;
}