<div class="container">
  <ul>
    {{#each model as |page|}}
      <li>{{link-to page.title 'docs.page' page}}</li>
    {{/each}}
  </ul>

  <form>
    <h1>Add page</h1>
    {{md-input value=newPageTitle label='New page title'}}
    {{md-btn text='New page' action='newPage'}}
  </form>
</div>
