<h1 id="title">Welcome to MobileDoc example renderer</h1>

<h2>Entry</h2>
{{#mobiledoc-editor mobiledoc=mobileDoc on-change=(action "updateMobileDoc") as |editor|}}
  {{mobiledoc-toolbar editor=editor}}
{{/mobiledoc-editor}}

<h2>Raw</h2>
<pre>{{editedMobileDocAsString}}</pre>

<h2>Output</h2>
