<div class="container">
  <div class="logo center">
    <img src="images/logo.png" alt="Logo">
  </div>
  <div class="logo-subscript center">
    <h5>An Ecosystem of User-facing Microservices supported by Semantic Models</h5>
    <h6>See {{#link-to 'docs.page' 'getting-started' }}Getting started{{/link-to}} or <a href="https://github.com/mu-semtech">GitHub</a></h6>
  </div>
</div>
